footer
    .container 
        .foot-wrap 
            h3 !{'Company Name'}
            .foot-wrap__content
                .foot-wrap__content__block 
                    h5 !{'Company'}
                    ul
                        li
                            a(href="#") !{"About Us"}
                        li
                            a(href="#") !{"Our Team"}
                        li
                            a(href="#") !{"Careers"}
                        li
                            a(href="#") !{"Press"}
                        li
                            a(href="#") !{"In the Media"}
                        li
                            a(href="#") !{"VPN Reviews"}
                        li
                            a(href="#") !{"Companies We Support"}
                        li
                            a(href="#") !{"Contact Us"}
                        li
                            a(href="#") !{"Blog"}
                .foot-wrap__content__block 
                    h5 !{'programs'}
                    ul
                        li
                            a(href="#") !{"Whitehat Security"}
                        li
                            a(href="#") !{"Affiliates"}
                .foot-wrap__content__block 
                    h5 !{'learn more'}
                    ul
                        li
                            a(href="#") !{"VPN Encryption"}
                        li
                            a(href="#") !{"Android VPN App"}
                        li
                            a(href="#") !{"iOS VPN App"}
                        li
                            a(href="#") !{"PIA Sitemap"}

                .foot-wrap__content__block 
                    h5 !{'LEGAL'}
                    ul
                        li
                            a(href="#") !{"Terms Of Service"}
                        li
                            a(href="#") !{"Privacy Policy"}
                        li
                            a(href="#") !{"DMCA Policy"}
                        li
                            a(href="#") !{"Export Control Policy"}
                .foot-wrap__content__block 
                    h5 !{'ABOUT'}
                    p !{'Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.'}
                    p !{'Map data provided by Google.'}
                    p 
                        |!{'PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.'}
                        br
                        |!{'PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.'}
                    p !{'© London Trust Media, Inc. All Rights Reserved.'}
                .foot-wrap__content__block 
                    h5 !{'SOCIAL'}
                    .soc-block
                        a(href="#" class="facebook-icon") 
                            include ../icons/facebook.pug
                        a(href="#" class="twitter-icon") 
                            include ../icons/twitter.pug
                        a(href="#" class="gmail-icon") 
                            include ../icons/gmail.pug
                        a(href="#" class="in-icon") 
                            include ../icons/in.pug
                        a(href="#" class="reddit-icon") 
                            include ../icons/reddit.pug
                        a(href="#" class="youtube-icon") 
                            include ../icons/youtube.pug