header
    .banner
        .banner__content
            .banner__content__note 
                img(src="img/alert.svg", alt="")
                span !{"You are not protected"}
            .banner__content__ip !{"Your IP Address:"}
                .ip__val !{"107.3.176.194"}
            .banner__content__isp !{"Your ISP:"}
                .isp__val  !{"Comcast Cable"}
            .banner__content__learn
                a(href="#") !{"Learn-more ›"} 
        .banner__close
            img(src="img/close.svg", alt="")
    .container 
        .head-wrap
            a(href="#" class="menu-button")
                spam.line
            a(href="index.html" class="logo")
                span !{'Company Name'} 
            nav
                ul.menu
                    li.has-submenu
                        a(href="#") !{"WHY US"}
                        ul.sub-menu
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                    li.has-submenu
                        a(href="#") !{"VPN APPS"}
                        ul.sub-menu
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                    li.has-submenu
                        a(href="#") !{"SUPPORT"}
                        ul.sub-menu
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                    li.has-submenu.active
                        a(href="#") !{"Resources"}
                        ul.sub-menu
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
                            li
                                a(href="#") !{'sublink'}
            .head-wrap__auth
                a(href="#" class="button green-border login-button") !{"LOG IN"}
                a(href="#" class="button green-gradient sign-in-button") !{"GET STARTED"} 