section.tags-section
    .container 
        .tags 
            .tags__left
                .tags__left__note !{"TAGS: "}
                a(href="#") !{'bitcoin'} 
                a(href="#") !{'bittorrent'} 
                a(href="#") !{'irc'} 
                a(href="#") !{'news'} 
                a(href="#") !{'privacy'} 
                a(href="#") !{'programming'} 
                a(href="#") !{'security'} 
            .tags__right 
                a(href="#") !{'Team'} 
                a(href="#") !{'Contact'} 