section.tarifs-section
    .container
        .tarifs
            .tarifs__title !{"Sign up today – 7 day money back guarantee"}
            .tarifs__wrap 
                .tarifs__block
                    .tarifs__block__length !{"MONTHLY"}
                    .tarifs__block__price
                        .tarifs__block__price__valute !{"$"}
                        .tarifs__block__price__value !{"6.95"}
                        .tarifs__block__price__period !{"/mo."}
                    .tarifs__block__addinfo 
                        span !{"Includes all VPN features."}
                    .tarifs__block__sign
                        a(href="#" class="button green-border") !{"SIGN UP"}
                .tarifs__block.checked-tarif
                    .tarifs__block__length !{"Two Years"}
                    .tarifs__block__price
                        .tarifs__block__price__valute !{"$"}
                        .tarifs__block__price__value !{"2.91"}
                        .tarifs__block__price__period !{"/mo."}
                    .tarifs__block__addinfo 
                        p
                            span.old-price !{"$166.80"}
                            span.current-price !{"$69.95"}
                            | per two years
                        p
                            span.saved !{"Save 58%*"}
                    .tarifs__block__sign
                        a(href="#" class="button green-border") !{"SIGN UP"}
                .tarifs__block
                    .tarifs__block__length !{"YEARLY"}
                    .tarifs__block__price
                        .tarifs__block__price__valute !{"$"}
                        .tarifs__block__price__value !{"6.95"}
                        .tarifs__block__price__period !{"/mo."}
                    .tarifs__block__addinfo 
                        p
                            span.old-price !{"$83.40"}
                            span.current-price !{"$39.95"}
                            | per year
                        p
                            span.saved !{"Save 52%*"}
                    .tarifs__block__sign
                        a(href="#" class="button green-border") !{"SIGN UP"}
            .tarifs__partners
                .partners-note !{"Ways to pay: "}
                .tarifs__partners__img
                    img(src="img/main/parthners/visa.svg", alt="")
                    img(src="img/main/parthners/master.svg", alt="")
                    img(src="img/main/parthners/amer.svg", alt="")
                    img(src="img/main/parthners/paypal.svg", alt="")
                    img(src="img/main/parthners/bitcoin.svg", alt="")
                    img(src="img/main/parthners/ok.svg", alt="")
                    img(src="img/main/parthners/amazon.svg", alt="")
            .tarifs__links
                a(href="#") !{"How to pay anonymously"} 
                    img(src="img/arrow.png", alt="")
                a(href="#") !{"REDEEM GIFT CARD"} 
                    img(src="img/arrow.png", alt="")